
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirm Email</h1>


<div class="alert alert-warning">
    @if (TempData[""]!=null)
    {
        @TempData["Message"]
    }
</div>

