@model ResetPasswordModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content=" &amp; ">
	<meta name="" content="">
	<meta name="" content="">
	<link rel="shortcut icon" href="/Template/assets/meta_logo_2.png" />

	<link rel="canonical" href="" />

	<title>EKYS - Giriş yap</title>

	<link href="/Template/assets/app.css" rel="stylesheet">
	<link rel="stylesheet" href="/Template/assets/css/custom.css">
</head>

<body class="linear-background preload">
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="text-center mt-4 m-3 w-100 d-flex justify-content-center align-items-center">
							<img src="/Template/assets/images/example-logo.svg" class="logo-sm mr-15">
							<span class="login-page-logo-title">MetaAkdeniz</span>

						</div>

						<div class="card" style="border-radius: 40px;">
							<div class="card-body">
								<div class="text-center mt-4 w-100">
									<img src="/Template/assets/images/text-logo.png" class="w-100">
								</div>

								<div class="m-sm-4">
									@if (ViewBag.ErrorMessage != null)
									{

									}
									<form asp-controller="Account" asp-action="ResetPassword" method="post">
										<strong>
											<input asp-for="@Model.Token" type="hidden"/>
											<div class="mb-4">
												<label class="form-label">Email:</label>
												<input class="form-control form-control-lg"  asp-for="@Model.Email"
													   placeholder="Email giriniz..." />
											</div>
											<div class="mb-4">
												<label class="form-label">Yeni Şifre Doğrulama:</label>
												<input class="form-control form-control-lg" asp-for="@Model.Password"
													   placeholder="Şifrenizi Giriniz..." />
											</div>
										</strong>
										<div class="text-center mb-4">
											<button href="Home/Index" class="btn btn-lg btn-primary  w-100"
													target="_self" type="submit">
												Kaydet
											</button>
											<!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
										</div>


									</form>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="/Template/assets/app.js"></script>

</body>

</html>
