<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="&amp" ;>
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name=”viewport” content=”” />
	<link rel="shortcut icon" href="../assets/meta_logo_2.png" />
	<link rel="canonical" href="" />
	<title>Yetkili Paneli</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

	<link href="../assets/app.css" rel="stylesheet">

	<link rel="stylesheet" href="../assets/css/custom.css">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar"style="background-image: linear-gradient(#A26BBD, #4C8BCD);">
				<a class="sidebar-brand" href="../yetkili/yetkili_index.html">
				<span style="font-size:25px" class="align-middle"><img src="../../assets/meta_logo_2.png"width="75px"height="75px"> LOGO</span>
			</a>

				<ul class="sidebar-nav">
					<li class="sidebar-item ">
						<a class="sidebar-link" href="../yetkili/yetkili_index.html">
			<i class="align-middle" data-feather="home"></i> <span class="align-middle">Anasayfa</span>
			</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="../yetkili/yetkili_profil_edit.html">
			<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profil</span>
			</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="../yetkili/yetkili_mesajlar.html">
			<i class="align-middle" data-feather="message-square"></i> <span class="align-middle">Mesajlar</span>
			</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="">
			<i class="align-middle" data-feather="settings"></i> <span class="align-middle">Ayarlar</span>
			</a>
			<li class="sidebar-item ">
				<a class="sidebar-link" href="#">
				<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Yetkili işlemleri</span>
				<i class="align-middle" data-feather="chevron-down"></i>
				</a>
				<ul class="sidebar-dropdown list-unstyled">
				<li class="sidebar-item ">
					<a class="sidebar-link" href="../yetkili/yetkili_islem/yetkili_siniflar.html">
					<i class="align-middle" data-feather="users"></i> <span class="align-middle">Sınıflar</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_dersler.html">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Dersler</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_konular.html">
					<i class="align-middle" data-feather="server"></i> <span class="align-middle">Konular</span>
					</a>
				</li>
			
				<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_dereceler.html">
					<i class="align-middle" data-feather="list"></i> <span class="align-middle">Dereceler</span>
					</a>
				</li>
				
				<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_sinavlar.html">
				<i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Sınavlar</span>
				</a>
						</li>
			
						<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_soru.html">
				<i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Sorular</span>
				</a>
						</li>
				</ul>
			</li>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="">
			<i class="align-middle" data-feather="info"></i> <span class="align-middle">S.S.S</span>
			</a>
					</li>
				</ul>
			</div>
		
	</nav>


		<div class="main" style="background-color: #E9F2FF;">
			<nav class="navbar navbar-expand navbar-light navbar-bg d-block">
				<div class="navbar-top justify-content-between d-flex align-items-center w-100">
					<a class="sidebar-toggle js-sidebar-toggle">
						<i class="hamburger align-self-center"></i>
					</a>
					<div class="navbar-mid">
						<div class="navbar-searchbar-container d-flex align-items-center">
							<a href="#" class="searchbar-button">
								<i class="bi-search bold searchbar-icon"></i>
							</a>
							<label for="searchbar-input" class="searchbar-input-container">
								<input type="text" id="searchbar-input" class=" searchbar-input" placeholder="Ne Aramıştınız ?">
							</label>
						</div>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown"
									data-bs-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="bell"></i>
										<span class="indicator">1</span>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
									aria-labelledby="alertsDropdown">
									<div class="dropdown-menu-header">
										1 Yeni bildirim
									</div>
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<i class="text-warning" data-feather="bell"></i>
												</div>
												<div class="col-10">
													<div class="text-dark">Bildirim başlığı</div>
													<div class="text-muted small mt-1">Bildirim metni</div>
													<div class="text-muted small mt-1">1 dakika önce</div>
												</div>
											</div>
										</a>
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted">Tüm bildirimleri temizle</a>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="yetkili_mesajlar.html" id="messagesButton">
									<div class="position-relative">
										<i class="align-middle" data-feather="message-circle"></i>
										<span class="indicator">1</span>
									</div>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
									data-bs-toggle="dropdown"></a>

								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
									data-bs-toggle="dropdown">
									<img src="../assets/meta_logo_2.png" class="avatar img-fluid rounded me-1"
										alt="profil resmi" /> <span class="text-dark">Yetkili ismi</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="yetkili_profil_edit.html"><i
											class="align-middle me-1" data-feather="user"></i> Profil</a>
									<a class="dropdown-item" href="yetkili_index.html"><i class="align-middle me-1"
											data-feather="settings"></i>Ayarlar</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="../giris.html">Çıkış</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="navbar-bottom">
					<div class="personel-container d-flex align-items-center">
						<div class="personel-photo-container overflow-hidden d-flex align-items-center">
							<img src="../assets/images/logo-usr.svg" alt="" class="w-100">
						</div>
						<div class="personel-info-container">
							<div class="personel-status">Admin</div>
							<div class="personel-name">Özlem Özkaya Ceylan</div>
						</div>
					</div>
				</div>

			</nav>
			<main class="content">
				<div class="row">                
					<h1><strong>Sınav Sonuçlarım</strong></h1>
				</div>
				<div class="row d-flex">
						<div class="student-exam-result-content">
							<div class="row">
								<div class="col-8">
									<div class="student-exam-result-content-title col-4 ">
										<h4><strong>Matematik Sınavı-1</strong></h4>
									</div>
									<div class="student-exam-result-content-info  col-4">
										<strong>Konu:</strong>Üslü Sayılar
									</div>
									<div class="student-exam-result-content-score col-4 ">
										<strong>Puan:</strong>95
									</div>
								
								</div>
								<div class="col-4">
									<a  id="myBtn" class="custom-card-icon-container"><i
									class="bi bi-eye-fill"></i>
									</a>
									<div class="student-exam-result-content-question-link-container col-3">
										<a class="student-exam-result-content-question-link" href="../ogrenci/ogrenci_sonuc_sorular.html">
											<strong>Sorular</strong>
										</a>
									</div>    
								</div>            
							</div>
						</div>
						<div class="student-exam-result-content">
							<div class="row">
								<div class="col-8">
									<div class="student-exam-result-content-title col-4 ">
										<h4><strong>Matematik Sınavı-1</strong></h4>
									</div>
									<div class="student-exam-result-content-info  col-4">
										<strong>Konu:</strong>Üslü Sayılar
									</div>
									<div class="student-exam-result-content-score col-4 ">
										<strong>Puan:</strong>95
									</div>
								
								</div>
								<div class="col-4">
									<a  id="myBtn" class="custom-card-icon-container"><i
									class="bi bi-eye-fill"></i>
									</a>
									<div class="student-exam-result-content-question-link-container col-3">
										<a class="student-exam-result-content-question-link" href="../ogrenci/ogrenci_sonuc_sorular.html">
											<strong>Sorular</strong>
										</a>
									</div>    
								</div>            
							</div>
						</div>
						<div class="student-exam-result-content">
							<div class="row">
								<div class="col-8">
									<div class="student-exam-result-content-title col-4 ">
										<h4><strong>Matematik Sınavı-1</strong></h4>
									</div>
									<div class="student-exam-result-content-info  col-4">
										<strong>Konu:</strong>Üslü Sayılar
									</div>
									<div class="student-exam-result-content-score col-4 ">
										<strong>Puan:</strong>95
									</div>
								
								</div>
								<div class="col-4">
									<a  id="myBtn" class="custom-card-icon-container"><i
									class="bi bi-eye-fill"></i>
									</a>
									<div class="student-exam-result-content-question-link-container col-3">
										<a class="student-exam-result-content-question-link" href="../ogrenci/ogrenci_sonuc_sorular.html">
											<strong>Sorular</strong>
										</a>
									</div>    
								</div>            
							</div>
						</div>
						<div class="student-exam-result-content">
							<div class="row">
								<div class="col-8">
									<div class="student-exam-result-content-title col-4 ">
										<h4><strong>Matematik Sınavı-1</strong></h4>
									</div>
									<div class="student-exam-result-content-info  col-4">
										<strong>Konu:</strong>Üslü Sayılar
									</div>
									<div class="student-exam-result-content-score col-4 ">
										<strong>Puan:</strong>95
									</div>
								
								</div>
								<div class="col-4">
									<a  id="myBtn" class="custom-card-icon-container"><i
									class="bi bi-eye-fill"></i>
									</a>
									<div class="student-exam-result-content-question-link-container col-3">
										<a class="student-exam-result-content-question-link" href="../ogrenci/ogrenci_sonuc_sorular.html">
											<strong>Sorular</strong>
										</a>
									</div>    
								</div>            
							</div>
						</div>
						<div class="student-exam-result-content">
							<div class="row">
								<div class="col-8">
									<div class="student-exam-result-content-title col-4 ">
										<h4><strong>Matematik Sınavı-1</strong></h4>
									</div>
									<div class="student-exam-result-content-info  col-4">
										<strong>Konu:</strong>Üslü Sayılar
									</div>
									<div class="student-exam-result-content-score col-4 ">
										<strong>Puan:</strong>95
									</div>
								
								</div>
								<div class="col-4">
									<a  id="myBtn" class="custom-card-icon-container"><i
									class="bi bi-eye-fill"></i>
									</a>
									<div class="student-exam-result-content-question-link-container col-3">
										<a class="student-exam-result-content-question-link" href="../ogrenci/ogrenci_sonuc_sorular.html">
											<strong>Sorular</strong>
										</a>
									</div>    
								</div>            
							</div>
						</div>
						<div class="student-exam-result-content">
							<div class="row">
								<div class="col-8">
									<div class="student-exam-result-content-title col-4 ">
										<h4><strong>Matematik Sınavı-1</strong></h4>
									</div>
									<div class="student-exam-result-content-info  col-4">
										<strong>Konu:</strong>Üslü Sayılar
									</div>
									<div class="student-exam-result-content-score col-4 ">
										<strong>Puan:</strong>95
									</div>
								
								</div>
								<div class="col-4">
									<a  id="myBtn" class="custom-card-icon-container"><i
									class="bi bi-eye-fill"></i>
									</a>
									<div class="student-exam-result-content-question-link-container col-3">
										<a class="student-exam-result-content-question-link" href="../ogrenci/ogrenci_sonuc_sorular.html">
											<strong>Sorular</strong>
										</a>
									</div>    
								</div>            
							</div>
						</div>
						<div class="student-exam-result-content">
							<div class="row">
								<div class="col-8">
									<div class="student-exam-result-content-title col-4 ">
										<h4><strong>Matematik Sınavı-1</strong></h4>
									</div>
									<div class="student-exam-result-content-info  col-4">
										<strong>Konu:</strong>Üslü Sayılar
									</div>
									<div class="student-exam-result-content-score col-4 ">
										<strong>Puan:</strong>95
									</div>
								
								</div>
								<div class="col-4">
									<a  id="myBtn" class="custom-card-icon-container"><i
									class="bi bi-eye-fill"></i>
									</a>
									<div class="student-exam-result-content-question-link-container col-3">
										<a class="student-exam-result-content-question-link" href="../ogrenci/ogrenci_sonuc_sorular.html">
											<strong>Sorular</strong>
										</a>
									</div>    
								</div>            
							</div>
						</div>
						<div class="student-exam-result-content">
							<div class="row">
								<div class="col-8">
									<div class="student-exam-result-content-title col-4 ">
										<h4><strong>Matematik Sınavı-1</strong></h4>
									</div>
									<div class="student-exam-result-content-info  col-4">
										<strong>Konu:</strong>Üslü Sayılar
									</div>
									<div class="student-exam-result-content-score col-4 ">
										<strong>Puan:</strong>95
									</div>
								
								</div>
								<div class="col-4">
									<a  id="myBtn" class="custom-card-icon-container"><i
									class="bi bi-eye-fill"></i>
									</a>
									<div class="student-exam-result-content-question-link-container col-3">
										<a class="student-exam-result-content-question-link" href="../ogrenci/ogrenci_sonuc_sorular.html">
											<strong>Sorular</strong>
										</a>
									</div>    
								</div>            
							</div>
						</div>
				</div>

            
                <div class="popup">
					<div id="myModal" class="modal">
						<div class="modal-content" id="modal-content1">
							<span class="close">&times;</span>
							<h4 class="modal-title text-center"><strong> Sınav Sonucu Detayı</strong></h4>
							<div class="row">
                                <div  class=" analyc col-md-5">

                                    <h4><strong>Sınav Adı:</strong>Matematik-1</h4>
                                    <h4><strong>Puan:</strong>70</h4>
                                    <h4><strong>Sınıf Sıralamanız:</strong>4</h4>
                                    <h4><strong>Genel Sıralamanız:</strong>16</h4>

                                    
                                </div>
                                <div class="col-md-7">
                                    <canvas height="100px" id="myChart"></canvas>
                                </div>
                            </div>
							<div class="row">
								<div class="title">
									<h3><strong> Ders Bazlı Başarı Tablosu</strong></h3>

								</div>
								<table>
									<tr>
										<th> Ders Adı</th>
										<th> Doğru</th>
										<th> Yanlış</th>
										<th> Boş</th>
										<th> Başarı Oranı</th>
										<th>Sınıf Başarı Oranı</th>
									</tr>
									<tr>
										<td>Matematik</td>
										<td>16</td>
										<td>4</td>
										<td>0</td>
										<td>%80</td>
										<td>%70</td>
									</tr>
									<tr>
										<td>Türkçe</td>
										<td>16</td>
										<td>4</td>
										<td>0</td>
										<td>%80</td>
										<td>%65</td>
									</tr>
									<tr>
										<td>Coğrafya</td>
										<td>14</td>
										<td>4</td>
										<td>2</td>
										<td>%70</td>
										<td>%80</td>
									</tr>
									<tr>
										<td>Tarih</td>
										<td>20</td>
										<td>0</td>
										<td>0</td>
										<td>%100</td>
										<td>%90</td>
									</tr>
								
								</table>


							</div>
							<button id="upper" class="upper_btn">
								<strong >İlerle </strong>
							</button>

						</div>
						<div class="modal-content2" id="modal-content2">
							<span class="close">&times;</span>
							<h4 class="modal-title text-center"><strong> Ders Bazlı Sonuç Ekranı</strong></h4>
							<div class="row">
								<div class="col-5">
									<span><strong> Ders</strong></span>
									<select  class="form-dropdown" name="" id="">
										<option value="">Matematik</option>
										<option value="">Türkçe</option>
										<option value="">Coğrafya</option>
									</select>
								

								</div>
								<div class="col-7">
									<table class="col-12">
										<tr>
											<th>Doğru Sayısı</th>
											<th>Yanlış Sayısı</th>
											<th>Boş Sayısı</th>
											<th>Başarı Oranı</th>
										</tr>
										<tr>
											<td>18</td>
											<td>2</td>
											<td>0</td>
											<td>%90</td>
										</tr>
										

									</table>
								</div>
							<div class="row">
								<div class="title">
									<h4 ><strong>Konu Bazlı Analiz</strong> </h4>
								</div>
								<div class="subject-Analyc ">
									<table class=col-12>
										<tr>
											<th scope="col">Konu Adı</th>
											<th scope="col">Soru Sayısı</th>
											<th scope="col">Doğru Sayısı</th>
											<th scope="col">Yanlış Sayısı</th>
											<th scope="col">Boş Sayısı</th>
											<th scope="col">Başarı Oranı</th>

										</tr>
										<tr>
											<td scope="col">Üslü Sayılar</td>
											<td scope="col">6</td>
											<td scope="col">4</td>
											<td scope="col">2</td>
											<td scope="col">0</td>
											<td scope="col">75%</td>

										</tr>
										<tr>
											<td>Köklü Sayılar</td>
											<td>6</td>
											<td>4</td>
											<td>2</td>
											<td>0</td>
											<td>75%</td>

										</tr>
										<tr>
											<td >Geometrik Şekillerde</td>
											<td>6</td>
											<td>4</td>
											<td>2</td>
											<td>0</td>
											<td>75%</td>

										</tr>
										<tr>
											<td >Trigonometri</td>
											<td>6</td>
											<td>4</td>
											<td>2</td>
											<td>0</td>
											<td>75%</td>

										</tr>
									</table>
								</div>

							</div>
							<div class="row">
								<div class="col-9">
									<button  class="lower_btn" id="lower_btn">
										<strong >Geri Dön</strong>
									</button>
								</div>
								<div class="col-3">
									<button  id="cls_btn">
										<strong >Kapat</strong>
									</button>
		
								</div>
							</div>
						
							

						</div>
							
						</div>
						
					</div>
				</div>
			</main>
		</div>
	</div>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="https://www.metaakdeniz.com" target="_blank"><strong>Meta
										Akdeniz Yazılım</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="https://www.metaakdeniz.com"
										target="_blank">Hakkında</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
    
        new Chart(ctx, {
            type: 'pie',
            data: {
            labels: ['Doğru Sayısı', 'Yanlış Sayısı'],
            datasets: [{
                label: '',
                data: [16,4],
                borderWidth: 1
            }]
            },
            options: {
            }

        });
    </script>
	<script src="../assets/app.js"></script>
	<script src="../assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



</body>

</html>