<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="&amp";>
	<meta name="author" content="">
	<meta name="keywords" content="">
	<link rel="canonical" href="" />

	<link rel="shortcut icon" href="../../assets/meta_logo_.png" />
	<title>Sınav</title>
	<link href="../assets/app.css" rel="stylesheet">
	<link href="../assets/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>

<body>
    <div class="wrapper" >
        <div class="main" style="background-color: #E9F2FF;">
            <main class="content" style="background-color: #E9F2FF;">
                <div class="row">
                    <div class="col-10">
                        <h3 ><strong>Matematik Sınavı</strong> 
                    </div>
                    <div class="question-time col-2">
                        <h4 ><strong>Kalan Zaman:</strong>02:22 </h4>
                    </div>
                </div>
                
                </h3>


                <div class="container-fluid p-0 " >
                    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">

                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div id="studentExam" class="studentExamPageContainer">
  

                                <div id="studentExamContent"class="student-exam-page-contents">
                                    <div class="student-exam-page-question-title">
                                        <strong>1.Soru</strong> 
                                     </div>
                                    <div class="student-exam-page-question-content">
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                    </div>
                                    <div class="student-exam-page-answers">
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 32</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 43</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 23</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 36</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 42</span>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                          
                        <div class="carousel-item">   
                            <div id="studentExam" class="studentExamPageContainer">

                                <div id="studentExamContent"class="student-exam-page-contents">
                                    <div class="student-exam-page-question-title">
                                        <strong>1.Soru</strong> 
                                     </div>
                                    <div class="student-exam-page-question-content">
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                    </div>
                                    <div class="student-exam-page-answers">
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 32</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 43</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 23</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 36</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 42</span>
                                    </div>


                                    
                                    
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div id="studentExam" class="studentExamPageContainer">
  

                                <div id="studentExamContent"class="student-exam-page-contents">
                                    <div class="student-exam-page-question-title">
                                        <strong>1.Soru</strong> 
                                     </div>
                                    <div class="student-exam-page-question-content">
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                    </div>
                                    <div class="student-exam-page-answers">
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 32</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 43</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 23</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 36</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 42</span>
                                    </div>
                                </div>

                                    
                                    
                                </div>
                          </div>
                        </div>

                      </div>     
                      <div class="student-exam-page-question-number-container">
                        <a class="carousel-control-prev" style=" margin-top:2%;position: relative; top: 1%; width:15%;height:36px;background-image: linear-gradient(#A26BBD, #4C8BCD);"href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          </a>
                          <button style="margin-top:2%;width:15%;height:36px; margin-left:25%"class="rapor_button ">Sınavı Bitir</button>
                          <a class="carousel-control-next"  style="margin-left:25%; margin-top:2%;position: relative; top: 1%; width:15%;height:36px;background-image: linear-gradient(#A26BBD, #4C8BCD);"href="#carouselExampleIndicators" href="#carouselExampleIndicators"  data-slide="next">
                            <span  class="carousel-control-next-icon" aria-hidden="true"><strong></strong></span>
                          </a>
                      </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
</body>
</body>
<script src="../assets/js/custom.js"></script> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>