
@{
    ViewData["Title"] = "Officer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="content d-flex flex-wrap justify-content-between">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Yetkili</strong> Görevliler Sayfası</h1>

		<div class="row">
			<div class="d-flex">
				<div class="w-100">
					<div class="row">

						<div class="card flex-fill col-12 " style="border-radius: 25px;
																				box-shadow: 0 0 0 4px white, 0 4px 4px black;overflow-y:hidden;">
							<div class="row">
								<div class="card-header col-10">
									<h5 class="card-title mb-0">Görevliler</h5>
								</div>
								<div class="yetkili_btn col-2">

									<a style="color:white" id="myBtn">
										<strong>Yeni Görevli Ekle </strong>

									</a>
								</div>
							</div>

							<table class="table my-0 text-center">
								<thead>
									<tr>
										<th class="d-none d-md-table-cell">ID</th>
										<th>TC Kimlik</th>
										<th>AdSoyad</th>
										<th>Soyad</th>
										<th>Telefon</th>
										<th>Görev</th>
										<th class="d-none d-md-table-cell">Ekleyen ve tarihi</th>
										<th class="d-none d-md-table-cell">Değiştiren ve tarihi</th>
										<th>Aktiflik durumu</th>
										<th>Düzenle veya sil</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>921412</td>
										<td>Ahmet</td>
										<td>Çıtak</td>
										<td>05348384</td>
										<td>Öğretmen</td>
										<td>İsim-21/01/2021</td>
										<td>İsim-31/06/2021</td>
										<td><span class="badge bg-success">Aktif</span></td>
										<td>
											<a href="../yetkili_islem_düzenle/yetkili_sinif_düzenle.html"><i class="align-middle" data-feather="edit"></i></a>
											<a><i class="align-middle m-2" data-feather="trash-2" style="color: red;"></i></a>
										</td>
									</tr>
									<tr>
										<td>1</td>
										<td>34432</td>
										<td>Serap</td>
										<td>Aslan</td>
										<td>0535856</td>
										<td>Sekreter</td>
										<td>İsim-21/01/2021</td>
										<td>İsim-31/06/2021</td>
										<td><span class="badge bg-success">Aktif</span></td>
										<td>
											<a href="../yetkili_islem_düzenle/yetkili_sinif_düzenle.html"><i class="align-middle" data-feather="edit"></i></a>
											<a><i class="align-middle m-2" data-feather="trash-2" style="color: red;"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="popup">
		<div id="myModal" class="modal">
			<div class="modal-content" id="small-modal">
				<span class="close">&times;</span>
				<h2 class="modal-title text-center"><strong> Görevli Ekle</strong></h2>
				<form>
					<div class="row">
						<div class="col-12">
							<div class="form-group row d-flex">
								<label for="name" class="col-sm-3 col-form-label">İsmi</label>
								<div class="col-sm-9">
									<input class="answer-place text-center" type="text" placeholder="Örneğin:Ahmet">
								</div>
								<label for="name" class="col-sm-3 col-form-label">Soyismi</label>
								<div class="col-sm-9">
									<input class="answer-place text-center" type="text" placeholder="Örneğin:Yılmaz">
								</div>
								<label for="tc" class="col-sm-3 col-form-label">TC Kimlik:</label>
								<div class="col-sm-9">
									<input class="answer-place" type="text">
								</div>

								<label for="Ders" class="col-sm-3 col-form-label">Görevi</label>
								<div class="col-sm-9">
									<select class="answer-place">
										<option value="">Öğretmen</option>
										<option value="">Müdür Yardımcısı</option>
										<option value="">Sekreter</option>
									</select>
								</div>
							</div>
						</div>


					</div>
					<button id="cls_btn" class="upper_btn">
						<strong>Kaydet </strong>
					</button>
				</form>

			</div>
		</div>

	</div>
</main>

