<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="&amp";>
	<meta name="author" content="">
	<meta name="keywords" content="">

	<link rel="shortcut icon" href="../../assets/meta_logo_2.png" />

	<link rel="canonical" href="" />

	<title>Seviye Düzenleme</title>

	<link href="../../assets/app.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar"style="background-image: linear-gradient(#A26BBD, #4C8BCD);">
				<a class="sidebar-brand" href="../yetkili_index.html">
				<span style="font-size:25px" class="align-middle"><img src="../../assets/meta_logo_2.png"width="75px"height="75px"> LOGO</span>
			</a>

				<ul class="sidebar-nav">
					<li class="sidebar-item ">
						<a class="sidebar-link" href="../yetkili_index.html">
			<i class="align-middle" data-feather="home"></i> <span class="align-middle">Anasayfa</span>
			</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="../yetkili_profil_edit.html">
			<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profil</span>
			</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="../yetkili_mesajlar.html">
			<i class="align-middle" data-feather="message-square"></i> <span class="align-middle">Mesajlar</span>
			</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="">
			<i class="align-middle" data-feather="settings"></i> <span class="align-middle">Ayarlar</span>
			</a>
			<li class="sidebar-item ">
				<a class="sidebar-link" href="#">
				<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Yetkili işlemleri</span>
				<i class="align-middle" data-feather="chevron-down"></i>
				</a>
				<ul class="sidebar-dropdown list-unstyled">
				<li class="sidebar-item ">
					<a class="sidebar-link" href="yetkili_siniflar.html">
					<i class="align-middle" data-feather="users"></i> <span class="align-middle">Sınıflar</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_dersler.html">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Dersler</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_konular.html">
					<i class="align-middle" data-feather="server"></i> <span class="align-middle">Konular</span>
					</a>
				</li>
			
				<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_dereceler.html">
					<i class="align-middle" data-feather="list"></i> <span class="align-middle">Dereceler</span>
					</a>
				</li>
				
				<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_sinavlar.html">
				<i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Sınavlar</span>
				</a>
						</li>
			
						<li class="sidebar-item">
					<a class="sidebar-link" href="yetkili_soru.html">
				<i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Sorular</span>
				</a>
						</li>
				</ul>
			</li>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="">
			<i class="align-middle" data-feather="info"></i> <span class="align-middle">S.S.S</span>
			</a>
					</li>
				</ul>
			</div>
		
	</nav>

		<div class="main" style="background-color: #E9F2FF;">
			<nav class="navbar navbar-expand navbar-light navbar-bg d-block">
				<div class="navbar-top justify-content-between d-flex align-items-center w-100">
					<a class="sidebar-toggle js-sidebar-toggle">
						<i class="hamburger align-self-center"></i>
					</a>
					<div class="navbar-mid">
						<div class="navbar-searchbar-container d-flex align-items-center">
							<a href="#" class="searchbar-button">
								<i class="bi-search bold searchbar-icon"></i>
							</a>
							<label for="searchbar-input" class="searchbar-input-container">
								<input type="text" id="searchbar-input" class=" searchbar-input" placeholder="Ne Aramıştınız ?">
							</label>
						</div>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown"
									data-bs-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="bell"></i>
										<span class="indicator">1</span>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
									aria-labelledby="alertsDropdown">
									<div class="dropdown-menu-header">
										1 Yeni bildirim
									</div>
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<i class="text-warning" data-feather="bell"></i>
												</div>
												<div class="col-10">
													<div class="text-dark">Bildirim başlığı</div>
													<div class="text-muted small mt-1">Bildirim metni</div>
													<div class="text-muted small mt-1">1 dakika önce</div>
												</div>
											</div>
										</a>
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted">Tüm bildirimleri temizle</a>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="yetkili_mesajlar.html" id="messagesButton">
									<div class="position-relative">
										<i class="align-middle" data-feather="message-circle"></i>
										<span class="indicator">1</span>
									</div>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
									data-bs-toggle="dropdown"></a>

								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
									data-bs-toggle="dropdown">
									<img src="../assets/meta_logo_2.png" class="avatar img-fluid rounded me-1"
										alt="profil resmi" /> <span class="text-dark">Yetkili ismi</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="yetkili_profil_edit.html"><i
											class="align-middle me-1" data-feather="user"></i> Profil</a>
									<a class="dropdown-item" href="yetkili_index.html"><i class="align-middle me-1"
											data-feather="settings"></i>Ayarlar</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="../giris.html">Çıkış</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="navbar-bottom">
					<div class="personel-container d-flex align-items-center">
						<div class="personel-photo-container overflow-hidden d-flex align-items-center">
							<img src="../assets/images/logo-usr.svg" alt="" class="w-100">
						</div>
						<div class="personel-info-container">
							<div class="personel-status">Admin</div>
							<div class="personel-name">Özlem Özkaya Ceylan</div>
						</div>
					</div>
				</div>

			</nav>
			<main class="content">
				<div class="container-fluid p-0">
					<h1 class="h3 mb-3"><strong>Seviye</strong> Düzenleme Sayfası</h1>
                    <div class="row">
                        <div class="edit-table text-center">

                            <div class="form-group row d-flex">
                                <label for="name" class="col-sm-4 col-form-label">İsmi</label>
                                <div class="col-sm-6">
                                    <input class="form-dropdown text-center"type="text" >
                                </div>
                                <label for="Ders" class="col-sm-4 col-form-label">Durum</label>
                                <div class="col-sm-6">
                                    <select class="form-dropdown">
                                        <option  value="">Aktif</option>
                                        <option  value="">Pasif</option>
                                    </select>
                                </div>	
                            </div>
                            <div>                            
                            <button id="design-yetkili-btn" class="upper_btn ">
                                <strong >Kaydet </strong><br>
                            </button>
                        </div>


                    </div>

                    </div>									
                </div>

			</main>
		</div>
	</div>

	<script src="../../assets/app.js"></script>

</body>

</html>