@model LessonModel

<select class="form-dropdown" asp-for="ClassId" id="Class">
    <option>--Sınıf Seçin--</option>
</select>
@*    <div class="form-group">
        <label>Sınıf</label>
        <select class="form-control" id="Class">
            <option>--Sınıf Seçin--</option>
        </select>
    </div>
    <div class="form-group">
        <label>Ders</label>
        <select class="form-control" id="Lesson">
            <option>--Ders Seçin--</option>
        </select>
    </div>
    <div class="form-group">
        <label>Konu</label>
        <select class="form-control" id="Subject">
            <option>--Konu Seçin--</option>
        </select>
    </div>*@


