<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content=" &amp; ">
	<meta name="author" content="">
	<meta name="keywords" content="">

	<link rel="shortcut icon" href="assets/meta_logo_2.png" />

	<link rel="canonical" href="" />

	<title>Kayıt ol</title>

	<link href="assets/app.css" rel="stylesheet">
</head>

<body style="background-image: linear-gradient(#A26BBD, #4C8BCD);">
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2" style="font-size: 40px; color: white;"><img src="assets/meta_logo_2.png" width="75px"height="75px"> LOGO</h1>
						</div>
						<div class="card" style="border-radius:40px">
							<div class="card-body">
								<div class="m-sm-1">
									<form>
										<strong>
										<div class="mb-3">
											<label class="form-label">Ad:</label>
											<input class="form-control form-control-lg" type="text" name="name" placeholder="Adınızı giriniz" />
										</div>
										<div class="mb-3">
											<label class="form-label">Soyad:</label>
											<input class="form-control form-control-lg" type="text" name="surname" placeholder="Soyadınızı giriniz" />
										</div>
										<div class="mb-3">
											<label class="form-label">TC Kimlik:</label>
											<input class="form-control form-control-lg" type="tc" name="tc" placeholder="TC Kimlik Numaranızı giriniz" />
										</div>
										<div class="mb-3">
											<label class="form-label">Şifre:</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Şifrenizi giriniz" />
										</div>
										<label for="Ders" class="form-label">Sınıf</label>
										<div class="mb-3">
											<select class="form-control form-control-lg">
												<option  value="">9</option>
												<option  value="">10</option>
												<option  value="">11</option>
											</select>
										</div>
										<label for="Ders" class="form-label">Şube</label>
										<div class="mb-3">
											<select class="form-control form-control-lg">
												<option  value="">A</option>
												<option  value="">B</option>
												<option  value="">C</option>
											</select>
										</div>
										<div class="mb-3">
											<label class="form-label">Şifre tekrar:</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Şifrenizi tekrar giriniz" />
										</div>
										</strong>
										<div class="text-center mt-3">
											<a href="yetkili/yetkili_index.html" target="_self" class="btn btn-lg btn-primary">Kayıt ol</a>
											<!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
										</div>
										<div class="text-center mt-3">
											<strong>Zaten bir hesabınız var mı?
											<a href="giris.html"target="_self">Giriş yapın!</a>
											</strong>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="assets/app.js"></script>

</body>

</html>