<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content=" &amp; ">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<link rel="canonical" href="" />

	<link rel="shortcut icon" href="../assets/meta_logo_2.png" />

	<title>Profil</title>

	<link href="../assets/app.css" rel="stylesheet">
	<link href="../assets/css/custom.css" rel="stylesheet">

</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar linear-background pt-4">
				<a class="sidebar-brand d-flex align-items-center" href="yetkili_index.html">
					<img src="../assets/images/example-logo.svg" class="logo-sm mr-15">
					<span class="align-middle logo-title-sm"> LOGO</span>
				</a>

				<ul class="sidebar-nav mt-5">
					<li class="sidebar-item active">
						<a class="sidebar-link" href="yetkili_index.html">
							<i class="align-middle" data-feather="home"></i> <span class="align-middle">Anasayfa</span>
						</a>
					</li>

					<li class="sidebar-item ">
						<a class="sidebar-link dropdown-btn" href="#">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Yetkili
								işlemleri</span>
							<i class="align-middle" data-feather="chevron-down"></i>
						</a>
						<ul class="sidebar-dropdown  list-unstyled">
							<li class="sidebar-item sidebar-dropdown-item">
								<a class="sidebar-link" href="yetkili_islem/yetkili_siniflar.html">
									<i class="align-middle" data-feather="users"></i> <span
										class="align-middle">Sınıflar</span>
								</a>
							</li>
							<li class="sidebar-item sidebar-dropdown-item">
								<a class="sidebar-link" href="yetkili_islem/yetkili_subeler.html">
									<i class="align-middle" data-feather="users"></i> <span
										class="align-middle">Şubeler</span>
								</a>
							</li>
							<li class="sidebar-item sidebar-dropdown-item">
								<a class="sidebar-link" href="yetkili_islem/yetkili_dersler.html">
									<i class="align-middle" data-feather="book"></i> <span
										class="align-middle">Dersler</span>
								</a>
							</li>
							<li class="sidebar-item sidebar-dropdown-item">
								<a class="sidebar-link" href="yetkili_islem/yetkili_konular.html">
									<i class="align-middle" data-feather="server"></i> <span
										class="align-middle">Konular</span>
								</a>
							</li>

							<li class="sidebar-item sidebar-dropdown-item">
								<a class="sidebar-link" href="yetkili_islem/yetkili_dereceler.html">
									<i class="align-middle" data-feather="list"></i> <span
										class="align-middle">Dereceler</span>
								</a>
							</li>

							<li class="sidebar-item sidebar-dropdown-item">
								<a class="sidebar-link" href="yetkili_islem/yetkili_sinavlar.html">
									<i class="align-middle" data-feather="check-square"></i> <span
										class="align-middle">Sınavlar</span>
								</a>
							</li>

							<li class="sidebar-item sidebar-dropdown-item">
								<a class="sidebar-link" href="yetkili_islem/yetkili_soru.html">
									<i class="align-middle" data-feather="plus-circle"></i> <span
										class="align-middle">Sorular</span>
								</a>
							</li>

						</ul>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="yetkili_profil_edit.html">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profil</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="yetkili_mesajlar.html">
							<i class="align-middle" data-feather="message-square"></i> <span
								class="align-middle">Mesajlar</span>
						</a>
					</li>

					<li class="sidebar-item ">
						<a class="sidebar-link dropdown-btn" href="#">
							<i class="align-middle" data-feather="settings"></i> <span class="align-middle">Ayarlar
								</span>

						</a>
					</li>
					<li class="sidebar-item sidebar-item">
							<a class="sidebar-link dropdown-btn" href="#">
								<i class="align-middle" data-feather="tool"></i> <span class="align-middle">Kullanıcı Ayarları
									</span>
								<i class="align-middle" data-feather="chevron-down"></i>
							</a>
							<ul class="sidebar-dropdown  list-unstyled">
								<li class="sidebar-item sidebar-dropdown-item">
									<a class="sidebar-link" href="Ayarlar/kullanici_ayarlari/ögrenci.html">
										<i class="align-middle" data-feather="users"></i> <span
											class="align-middle">Öğrenciler</span>
									</a>
								</li>
								<li class="sidebar-item sidebar-dropdown-item">
									<a class="sidebar-link" href="Ayarlar/kullanici_ayarlari/görevli.html">
										<i class="align-middle" data-feather="users"></i> <span
											class="align-middle">Görevliler</span>
									</a>
								</li>
								<li class="sidebar-item sidebar-dropdown-item">
									<a class="sidebar-link" href="Ayarlar/kullanici_ayarlari/Roller.html">
										<i class="align-middle" data-feather="award"></i> <span
											class="align-middle">Görevlendirmeler</span>
									</a>
								</li>
							</ul>
						</li>

					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="">
							<i class="align-middle" data-feather="info"></i> <span class="align-middle">S.S.S</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="main" style="background-color: #E9F2FF;">
			<nav class="navbar navbar-expand navbar-light navbar-bg d-block">
				<div class="navbar-top justify-content-between d-flex align-items-center w-100">
					<a class="sidebar-toggle js-sidebar-toggle">
						<i class="hamburger align-self-center"></i>
					</a>
					<div class="navbar-mid">
						<div class="navbar-searchbar-container d-flex align-items-center">
							<a href="#" class="searchbar-button">
								<i class="bi-search bold searchbar-icon"></i>
							</a>
							<label for="searchbar-input" class="searchbar-input-container">
								<input type="text" id="searchbar-input" class=" searchbar-input" placeholder="Ne Aramıştınız ?">
							</label>
						</div>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown"
									data-bs-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="bell"></i>
										<span class="indicator">1</span>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
									aria-labelledby="alertsDropdown">
									<div class="dropdown-menu-header">
										1 Yeni bildirim
									</div>
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<i class="text-warning" data-feather="bell"></i>
												</div>
												<div class="col-10">
													<div class="text-dark">Bildirim başlığı</div>
													<div class="text-muted small mt-1">Bildirim metni</div>
													<div class="text-muted small mt-1">1 dakika önce</div>
												</div>
											</div>
										</a>
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted">Tüm bildirimleri temizle</a>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="yetkili_mesajlar.html" id="messagesButton">
									<div class="position-relative">
										<i class="align-middle" data-feather="message-circle"></i>
										<span class="indicator">1</span>
									</div>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
									data-bs-toggle="dropdown"></a>

								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
									data-bs-toggle="dropdown">
									<img src="../assets/meta_logo_2.png" class="avatar img-fluid rounded me-1"
										alt="profil resmi" /> <span class="text-dark">Yetkili ismi</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="yetkili_profil_edit.html"><i
											class="align-middle me-1" data-feather="user"></i> Profil</a>
									<a class="dropdown-item" href="yetkili_index.html"><i class="align-middle me-1"
											data-feather="settings"></i>Ayarlar</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="../giris.html">Çıkış</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="navbar-bottom">
					<div class="personel-container d-flex align-items-center">
						<div class="personel-photo-container overflow-hidden d-flex align-items-center">
							<img src="../assets/images/logo-usr.svg" alt="" class="w-100">
						</div>
						<div class="personel-info-container">
							<div class="personel-status">Admin</div>
							<div class="personel-name">Özlem Özkaya Ceylan</div>
						</div>
					</div>
				</div>

			</nav>
		<main class="content" style="background-color: #E9F2FF;">
			<div class="container-fluid p-0">

				<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Profil</h1>
					</div>
					<div class="row">
						<div class="col-md-4 col-xl-3">
							<div class="card mb-3">
								<div class="card-header">
									<h5 class="card-title mb-0">Profil kartı</h5>
								</div>
								<div class="card-body text-center">
									<img src="../assets/meta_logo_2.png" alt="Resim" class="img-fluid rounded-circle mb-2" width="128" height="128" />
									<h5 class="card-title mb-0">İsim</h5>
									<div class="text-muted mb-2">Soyisim</div>
								</div>
								<div class="card-body">
									<h5 class="h6 card-title">Kayıtlı bilgileri</h5>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><span data-feather="user" class="feather-sm me-1"></span> İsim Soyisim: Qwerty Qwertyuıop</li>
										<li class="mb-1"><span data-feather="mail" class="feather-sm me-1"></span> E-posta: <a href="#">123456789@mail.com</a></li>
										<li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span> Sınıf: <a href="#">1. Sınıf</a></li>
										<li class="mb-1"><span data-feather="award" class="feather-sm me-1"></span> Başarı sıralaması: <a href="#">125. Sırada</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-xl-9">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Düzenle</h5>
								</div>
        <div class="card-body">
        	<div style="margin: 10px;">
        		<strong>İsim:</strong>
            	<input type="text" class="form-control" placeholder="Profilin ismi">
        	</div>
        	<div style="margin: 10px;">
        		<strong>Soyisim:</strong>
            	<input type="text" class="form-control" placeholder="Profilin soyismi">
        	</div>
        	<div style="margin: 10px;">
        		<strong>Sınıf:</strong>
            	<input type="text" class="form-control" placeholder="Var ise sınıfı yok ise öğretmen veya yetkili">
        	</div>
        	<div style="margin: 10px;">
        		<strong>E-posta</strong>
            	<input type="text" class="form-control" placeholder="Profilin e-postası">
        	</div>
        	<div style="margin: 10px;">
        		<strong>Şifre</strong>
            	<input type="text" class="form-control" placeholder="Yeni şifrenizi giriniz">
        	</div> 
        	<div style="margin: 10px;">
        		<strong>Şifre tekrar:</strong>
            	<input type="text" class="form-control" placeholder="Yeni şifrenizi tekrar giriniz">
        	</div>       	        	
            <div class="text-center">
              <button style="margin: 20px;" class="btn btn-primary btn-lg" type="submit">Kaydet</button>
            </div>
        </div>



			</main>
		</div>
	</div>

	<script src="../assets/app.js"></script>

</body>

</html>